html,
input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: auto;
  background-color: #f7fafc;
}

.footer {
  text-align: center;
}

div > div {
  margin: 1em 0;
}

.status,
.handler {
  text-align: center;
}

input,
label {
  width: 100%;
}

button,
input {
  font-size: inherit;
}

.status > .status-info.success {
  color: #1f9810;
}

.status > .status-info.failed {
  color: #d82222;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table th:not(:last-child),
table td:not(:last-child) {
  padding-right: 10px;
}

.hidden {
  display: none;
}

.rounded-box {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 18px 36px 0 rgb(213 215 225 / 49%);
  vertical-align: middle;
  margin: 1em;
  padding: 20px;
}

.header-area.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  color: #fff;
  background: linear-gradient(-45deg, #82e180, #ad7, #42b67b, #2face2);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  /* animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgb(15 30 150 / 20%);
  box-shadow: 0 0.25rem 0.25rem 0 rgb(15 30 150 / 20%); */
}

.content {
  margin-top: 100px !important;
  margin-bottom: 50px !important;
}

.gradient {
  color: #fff;
  background: linear-gradient(
    -45deg,
    #42b2b6,
    #37b0b6,
    #42b2b6,
    #3cb39f
  ) !important;
  /* border-color: #42b2b6 !important; */
  border-color: transparent !important;
}

.gradient:hover {
  color: #fff;
  background: linear-gradient(210deg, #f5b947, #e1e287) !important;
  /* border-color: #e5d97a !important; */
  border-color: transparent !important;
}

.gradient:disabled {
  background: #e9ecef !important;
  /* border-color: #e9ecef !important; */
  border-color: transparent !important;
  color: #212529;
}

input,
button {
  border-radius: 8px !important;
}

.text-gradient {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-blue,
.gradient-pink:hover {
  background-image: -webkit-linear-gradient(210deg, #7e8dff, #61ceff);
  background-image: linear-gradient(210deg, #7e8dff, #61ceff);
}

.gradient-green,
.gradient-blue:hover {
  background-image: -webkit-linear-gradient(210deg, #56ecbd, #5ab14f);
  background-image: linear-gradient(210deg, #56ecbd, #5ab14f);
}

.gradient-yellow,
.gradient-green:hover {
  background-image: -webkit-linear-gradient(210deg, #e4c34c, #d8a03b);
  background-image: linear-gradient(210deg, #e4c34c, #d8a03b);
}

.gradient-red,
.gradient-yellow:hover {
  background-image: -webkit-linear-gradient(210deg, #e86b98, #bb4969);
  background-image: linear-gradient(210deg, #e86b98, #bb4969);
}

.gradient-pink,
.gradient-red:hover {
  background-image: -webkit-linear-gradient(210deg, #34a1ff, #e44cb5);
  background-image: linear-gradient(210deg, #34a1ff, #e44cb5);
}

.table {
  --bs-table-hover-bg: rgb(193 251 255 / 43%);
}

.print-view-data {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  font-size: 10pt;
}

.print-view-data p {
  margin: 4px 0;
}

.print-view-data th,
.print-view-data td {
  padding: 2px;
}

.print-view-data .table {
  margin-top: 8px;
}

.print-view-data .table-hover > tbody > tr:hover {
  background: transparent;
  --bs-table-accent-bg: transparent;
}

input[name='userName'] {
  min-width: 90px;
  max-width: 380px;
  border: 0px;
  background: transparent;
  text-align: end;
  text-transform: capitalize;
  color: #fff;
  padding: 6px 0px;
}
input[name='userName']:focus {
  background: #fff;
  text-align: center;
  padding: 6px 12px;
}

@media (max-width: 992px) {
  .navbar-collapse:not(.show) + .user-client {
    display: none;
  }
  .navbar-collapse.show + .user-client {
    text-align: left;
    padding: 6px 0px;
  }
  .navbar-collapse.show + .user-client:focus {
    text-align: left;
    padding: 6px 12px;
  }
}

@keyframes backgroundColorPalette {
  0% {
    /* background-image: -webkit-linear-gradient(210deg, #7e8dff, #61ceff); */
    /* background-image: linear-gradient(210deg, #7e8dff, #61ceff); */
    background: #ee6055;
  }
  25% {
    /* background-image: -webkit-linear-gradient(210deg, #56ecbd, #5ab14f); */
    /* background-image: linear-gradient(210deg, #56ecbd, #5ab14f); */
    background: #60d394;
  }
  50% {
    /* background-image: -webkit-linear-gradient(210deg, #e4c34c, #d8a03b); */
    /* background-image: linear-gradient(210deg, #e4c34c, #d8a03b); */
    background: #aaf683;
  }
  75% {
    /* background-image: -webkit-linear-gradient(210deg, #e86b98, #bb4969); */
    /* background-image: linear-gradient(210deg, #e86b98, #bb4969); */
    background: #ffd97d;
  }
  100% {
    /* background-image: -webkit-linear-gradient(210deg, #e86b98, #bb4969); */
    /* background-image: linear-gradient(210deg, #34a1ff, #e44cb5); */
    background: #ff9b85;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
